@charset "utf-8";

// Variables
:root {
    // Fonts
    --sans-font: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --slab-font: "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
    --mono-font: "Roboto Mono", "DejaVu Sans Mono", monospace;
}