@charset "utf-8";
@use "./base/functions" as *;
@use "./base/mixins" as *;

// Variables
:root {
    // Fonts
    --sans-font: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --slab-font: "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
    --mono-font: "Roboto Mono", "DejaVu Sans Mono", monospace;
    --app-bar-text: #{px2rem(15)};
    --app-bar-label-text: #{px2rem(13)};
    --editor-text: #{px2rem(14)};
    --editor-line-height: calc(24 / 14);
    --sidebar-text: #{px2rem(15)};
    --sidebar-title-text: #{px2rem(14)};
    --sidebar-date-text: #{px2rem(13)};

    // Colours
    --colour-100: white;
    --colour-200: #f5f5f5;
    --colour-300: #e4e4e4;
    --colour-400: #c1c4cb;
    --colour-500: #7c8187;
    --colour-600: #5a6069;
    --colour-700: #35393f;
    --colour-800: #2b2d31;
    --colour-900: #1d1f22;
    --colour-1000: #151619;
    --primary: white;
    --secondary: #7c8187;
    --primary-background: #2b2d31;
    --secondary-background: #1d1f22;
    --tertiary-background: #5a6069;
    --icon-primary: #7c8187;
    --icon-primary-hover: #e46643;
    --button-primary-background: #e46643;
    --button-primary-background-hover: #f39765;
    --menu-button-background: #35393f;
    --menu-button-background-hover: #e46643;
    --mode-choice-button-primary: #5a6069;
    --mode-choice-button-secondary: white;

    // Boxes, margins, paddings, gaps and shadows
    --button-radius: #{px2rem(4)};
    --header-logo-block-inset: #{px2rem(27)};
    --header-logo-inline-inset: #{px2rem(24)};
    --header-logo-inline-inset-sidebar-closed: calc(var(--sidebar-inline-size) * -1 - var(--header-logo-inline-inset));
    --header-logo-inline-inset-sidebar-open: var(--header-logo-inline-inset);
    --menu-button-size: #{px2rem(56)};
    --app-bar-block-padding: #{px2rem(8)};
    --app-bar-inline-padding: #{px2rem(80)} #{px2rem(8)};
    --app-bar-input-block-padding: #{px2rem(6)};
    --app-bar-input-block-padding-hover: #{px2rem(5)};
    --app-bar-input-gap: #{px2rem(3)} #{px2rem(16)};
    --app-bar-buttons-gap: #{px2rem(24)};
    --sidebar-inline-size: #{px2rem(250)};
    --sidebar-block-padding: #{px2rem(72)} #{px2rem(24)};
    --sidebar-inline-padding: #{px2rem(24)};
    --sidebar-title-block-margin: #{px2rem(29)};
    --sidebar-list-block-margin: #{px2rem(26)};
    --sidebar-list-block-margin-first: #{px2rem(24)};
    --sidebar-list-item-gap: #{px2rem(3)} #{px2rem(16)};
    --toggle-preview-size: #{px2rem(16)};
    --toggle-preview-block-inset: #{px2rem(68)};
    --toggle-preview-inline-inset: #{px2rem(16)};
    --save-button-padding: #{px2rem(12)};
    --save-button-gap: #{px2rem(8)};
    --new-document-button-block-size: #{px2rem(40)};
    --mode-choice-button-size: #{px2rem(48)};
    --mode-choice-button-inner-size: #{px2rem(12)};
    --mode-choice-button-radius: #{px2rem(14.5)};
    --mode-choice-button-gap: #{px2rem(10)};
    --mode-choice-button-inline-inset: #{px2rem(6)};
    
    // Transitions
    --button-transition-duration: 150ms;
    --sidebar-transition-duration: 200ms;
    --toggle-preview-transition-duration: 200ms;
    --mode-choice-button-transition-duration: 200ms;

    @include css-media-queries($from-breakpoint: two-column-editor) {
        --menu-button-size: #{px2rem(72)};
        --app-bar-block-padding: #{px2rem(17)} #{px2rem(14)};
        --app-bar-inline-padding: #{px2rem(96)} #{px2rem(16)};
        --toggle-preview-block-inset: #{px2rem(84)};
        --save-button-padding: #{px2rem(11)} #{px2rem(16)};
    }
    @include css-media-queries($from-breakpoint: wide-app-bar) {
        --header-logo-block-padding: #{px2rem(14)};
        --header-logo-inline-end-padding: #{px2rem(30)};
        --header-logo-inline-inset-sidebar-closed: calc(var(--header-logo-inline-inset) + var(--menu-button-size));
        --header-logo-inline-inset-sidebar-open: calc(var(--sidebar-inline-size) + var(--header-logo-inline-inset-sidebar-closed));
        --app-bar-inline-start-padding: #{px2rem(281)};
        --sidebar-block-start-padding: #{px2rem(27)};
    }
}