@charset "utf-8";
@use "sass:list";

/**
 * @site In-browser markdown editor
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
    $media-queries-breakpoints: (
        two-column-editor: 768,
        wide-app-bar: 1024
    )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./buttons/buttons";
@use "./layout/layout";
