@charset "utf-8";

/** @section Typography */
body {
    font-family: var(--sans-font);
    line-height: normal;
}
.app-bar {
    font-size: var(--app-bar-text);
    line-height: 1.1;
    label {
        font-size: var(--app-bar-label-text);
        font-weight: 300;
    }
}
#editor,
.confirmation {
    font-size: var(--editor-text);
}
#editor {
    section > h2 {
        font-size: inherit;
        font-weight: 500;
        text-transform: uppercase;
    }
}
#markdown,
#preview,
.confirmation {
    line-height: var(--editor-line-height);
    button {
        font-family: var(--sans-font);
    }
}
#markdown, #preview :is(pre, code) {
    font-family: var(--mono-font);
}
#markdown {
    white-space: pre-wrap;
}
#preview {
    font-family: var(--slab-font);
    @for $i from 1 through 6 {
        h#{$i} {
            font-size: var(--editor-preview-h#{$i}-text);
            line-height: normal;
        }
    }
    h2 {
        font-weight: 300;
    }
    blockquote {
        font-weight: bold;
    }
    pre {
        font-size: inherit;
    }
}
.confirmation {
    font-family: var(--slab-font);
    h2 {
        font-size: var(--editor-confirmation-title-text);
        line-height: initial;
    }
}
#sidebar {
    font-size: var(--sidebar-text);
    h2 {
        font-size: var(--sidebar-title-text);
        font-weight: 500;
        text-transform: uppercase;
    }
    time {
        font-size: var(--sidebar-date-text);
        font-weight: 300;
    }
    .document-name {
        hyphens: auto;
    }
}
