@charset "utf-8";

/** @section Typography */
body {
    font-family: var(--sans-font);
    line-height: normal;
}
textarea, #preview :is(pre, code) {
    font-family: var(--mono-font);
}
#preview {
    font-family: var(--slab-font);
}
.app-bar {
    font-size: var(--app-bar-text);
    line-height: 1.1;
    label {
        font-size: var(--app-bar-label-text);
        font-weight: 300;
    }
}
#editor {
    font-size: var(--editor-text);
    h2,
    label {
        font-weight: 500;
        text-transform: uppercase;
    }
    h2 {
        font-size: inherit;
    }
}
#markdown,
#preview {
    line-height: var(--editor-line-height);
}
#sidebar {
    font-size: var(--sidebar-text);
    h2 {
        font-size: var(--sidebar-title-text);
        font-weight: 500;
        text-transform: uppercase;
    }
    time {
        font-size: var(--sidebar-date-text);
        font-weight: 300;
    }
    .document-name {
        hyphens: auto;
    }
}
