@charset "utf-8";

// Mixins for buttons
@mixin primary-button {
    color: var(--primary);
    background: var(--button-primary-background);
    border-radius: var(--button-radius);
    transition: background var(--button-transition-duration) ease-in;
    &:hover,
    &:focus {
        background: var(--button-primary-background-hover);
    }
}
